*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  overscroll-behavior-y: contain;
}

html {
  font-size: 100%;
  min-height: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  // width: 100%;
  overflow: hidden;
  position: fixed;
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: #323232;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  line-height: 1.5;
}

.cursor-grab {
  cursor: move; /* fallback: no `url()` support or images disabled */
  // cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
  // cursor:    -moz-grab; /* Firefox 1.5-26 */
  cursor:         grab; /* W3C standards syntax, should come least */
}

.cursor-grabbing {
  cursor: -webkit-grabbing;
  cursor:    -moz-grabbing;
  cursor:         grabbing;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  max-width: 260px;
  margin: 1rem 0 0 1rem;
  mix-blend-mode: hard-light;
}

h1 {
  max-width: 150px;
  width: 100%;
  margin: 0 0 0.5rem;
}

h2 {
  font-size: 0.9rem;
  max-width: 75%;
  font-weight: initial;
  letter-spacing: -0.3px;
  margin: 0 0 0.75rem;
}

a {
  color: inherit;
  text-decoration: none;
  text-decoration-skip: auto;
  
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// .date {
//   font-weight: bold;
//   color: magenta;
//   display: block;
// }

.logo {
  fill: currentColor;
}

.icon {
  width: 32px;
  height: 32px;
  fill: currentColor;
  transition: fill 150ms;
  will-change: fill;
}

.social {
  display: flex;
}

.social_link {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background-color: yellow;
    z-index: -1;
    opacity: 0;
    transition: all 150ms;
    transform: scale(0.25);
    will-change: transform, opacity;
  }
}

.social_link:hover::after {
  opacity: 1;
  transform: scale(1);
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.footer {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  mix-blend-mode: hard-light;
  will-change: opacity;
}

.footer_link {
  border-bottom: 3px solid yellow;

  &:hover,
  &:focus {
    border-color: inherit;
    text-decoration: none;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 330px; 
  }

  h1 {
    max-width: 240px;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
}

// dat.gui
// http://brm.io/dat-gui-light-theme/
.dg.ac {
  display: none;
}

@media (min-width: 40rem) {
  .dg.ac {
    display: inherit;
  }
}

.dg.main.a .close-button {
  background-color: #ccc;
}

.dg.main.a .close-button:hover {
  background-color: #ddd;
}

.dg.main.a {
  color: #555;
  text-shadow: none !important;
}

.dg.main.a::-webkit-scrollbar-thumb {
  background: #bbb;
}

.dg.main.a li:not(.folder) {
  background: #fafafa;
  border-bottom: 1px solid #ddd;
}

.dg.main.a .c input[type=text] {
  background: #e9e9e9;
}

.dg.main.a .c input[type=text]:hover {
  background: #eee;
}

.dg.main.a .c input[type=text]:focus {
  background: #eee;
  color: #555;
}

.dg.main.a .c .slider {
  background: #e9e9e9;
}

.dg.main.a .c .slider:hover {
  background: #eee;
}

.dg.main.a .property-name, 
.dg.main.a .title, {
  text-shadow: none;
  color: #333;
}